In [2]:
%matplotlib inline
import pandas as pd

In [30]:
titles = pd.read_csv('C:/AIandMLAssigment/Day 17/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [10]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [13]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [14]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [15]:

len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [16]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [18]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [32]:

titles[titles.year==1950].shape[0]

1113

### How many movies were made in the year 1960?

In [20]:
len(titles[titles.year == 1960])

1549

### How many movies were made from 1950 through 1959?

In [22]:
t=titles
len(t[(1950 <= t.year) & (t.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [9]:
df10=titles[(titles['title'] == "Batman" )]
df10

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [10]:
cast = pd.read_csv('C:/AIandMLAssigment/Day 17/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [11]:
c=cast
len(c[c.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [7]:
c=cast
c=c[c.title == 'Inception']
c=c[c.n.isnull()]
len(c)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [8]:
c=cast
c=c[c.title == 'Inception']
c=c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [15]:
c=cast
c[c.title == 'North by Northwest']
d=c[c.n.notnull()].sort_values('n')
print(d)

                           title  year                      name     type  \
2578343                 Deep End  1970                Jane Asher  actress
1580175       The Desperate Hero  1920                Owen Moore    actor
1580174     The Crimson Gardenia  1919                Owen Moore    actor
1580173  The Chicken in the Case  1921                Owen Moore    actor
1580166          Sooner or Later  1920                Owen Moore    actor
...                          ...   ...                       ...      ...
2894187                     Rift  2011     Catherine Fitzlanders  actress
3419397                     Rift  2011  Brittany Alexis Phillips  actress
708300                      Rift  2011               Leon Fazzio    actor
2015838                    Freer  2017        Roque (III) Santos    actor
2711830              Tribulation  2000            Marium Carvell  actress

              character        n
2578343           Susan      1.0
1580175     Henry Baird      1.0
1580174  Roland Van Dam      1.0
1580173   Steve Perkins      1.0
1580166  Patrick Murphy      1.0
...                 ...      ...
2894187           Matty    999.0
3419397           Erica    999.0
708300            Henry    999.0
2015838    Candy Seller    999.0
2711830     Selma Davis  33613.0

[2327603 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [21]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year==1972)].sort_values('n')
print(c)

          title  year                name     type  \
1705394  Sleuth  1972    Laurence Olivier    actor
326773   Sleuth  1972       Michael Caine    actor
373876   Sleuth  1972      Alec Cawthorne    actor
1465483  Sleuth  1972  John (II) Matthews    actor
2724553  Sleuth  1972  Eve (III) Channing  actress
1448690  Sleuth  1972        Teddy Martin    actor

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [22]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year==2007)].sort_values('n')
print(c)

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [24]:
c=cast
len(c[(c.title == 'Hamlet') & (c.year == 1921)])

9

# How many roles were credited in Branagh’s 1996 Hamlet?

In [26]:
c=cast
len(c[(c.title == 'Hamlet') & (c.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [34]:
cast[cast['title']== 'Hamlet'].character.shape[0]

342

### How many people have played an "Ophelia"?

In [37]:
cast[cast['title']== 'Ophelia'].count()

title        20
year         20
name         20
type         20
character    20
n             0
dtype: int64

### How many people have played a role called "The Dude"?

In [39]:
cast[cast['character']== 'The Dude'].count()

title        19
year         19
name         19
type         19
character    19
n            12
dtype: int64

### How many people have played a role called "The Stranger"?

In [40]:
cast[cast['character']== 'The Stranger'].count()

title        212
year         212
name         212
type         212
character    212
n            133
dtype: int64

### How many roles has Sidney Poitier played throughout his career?

In [44]:
cast[cast['name']== 'Sidney Poitier'].count()

title        43
year         43
name         43
type         43
character    43
n            42
dtype: int64

### How many roles has Judi Dench played?

In [46]:
cast[cast['name']== 'Judi Dench'].count()

title        55
year         55
name         55
type         55
character    55
n            51
dtype: int64

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [82]:

c=cast
a=c[(c.name == 'Cary Grant') & (c.year == 1940) & (c.n == 2)].sort_values('year')
print(a)

                   title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [67]:

b=c[(c.name == 'Cary Grant') & (c.year == 1940)  & (c.n == 1)].sort_values('year')
print(b)

                          title  year        name   type           character  \
871407          His Girl Friday  1940  Cary Grant  actor        Walter Burns
871448  The Howards of Virginia  1940  Cary Grant  actor         Matt Howard
871450   The Philadelphia Story  1940  Cary Grant  actor  C. K. Dexter Haven

          n
871407  1.0
871448  1.0
871450  1.0

### How many roles were available for actors in the 1950s?

In [72]:

len(c[(c.year == 1950) & (c.type == 'actor')])

16760

### How many roles were available for actresses in the 1950s?

In [74]:
len(c[(c.year == 1950) & (c.type == 'actresses')])

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [77]:
len(c[(c.year == 1980) & (c.n == 1)])

1183

### How many non-leading roles were available through from the beginning of film history through 1980?

In [80]:
len(c[(c.year == 1980) & (c.n != 1)])

22289

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [81]:
c=cast
c=c[c.year == 1980]
c=c[c.n.isnull()]
len(c)

4466