In [58]:
"""
Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

"""
email = input("Enter the Email Id:")
y=email.partition("@") 
txt=y[2].partition(".")
print("Company name:",txt[0])

Enter the Email Id:asdas@nsdjfnsdkjf.com
Company name: nsdjfnsdkjf

In [21]:
"""
Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically. 
 
Input Format: The first line of input contains words separated by the comma. Output Format: Print the sorted words separated by the comma. Example: Input: without,hello,bag,world Output: bag,hello,without,world

"""


items=[x for x in input("enter data to sort").split(',')]
items.sort()
print ("Sorted data are ",' ,'.join(items))

enter data to sortww,rr,ff
Sorted data are  ff ,rr ,ww

In [27]:
"""
Question 3: Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp 


"""

myset = {"India", "USA", "UK"}
print(myset)


for x in myset:
  print(x)

print("banana" in myset)
print("India" in myset)



myset.add("UAE")

print(myset)

{'India', 'UK', 'USA'}
India
UK
USA
False
True
{'UAE', 'India', 'UK', 'USA'}

In [61]:
"""
Question 4:  Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 
 
Input Format: The first line contains n-1 numbers with each number separated by a space. Output Format: Print the missing number Example: Input:1 2 4 6 3 7 8 Output:5 
 
Explanation: In the above list of numbers 5 is missing and hence 5 is the input 



"""

def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
  
# Driver code 
lst = [1, 2, 4, 6, 7, 9, 10] 
print("The missing numbers:",find_missing(lst))

The missing numbers: [3, 5, 8]

In [59]:
"""
Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. 
 
Example: If the input list is 12 24 35 24 88 120 155 88 120 155 
 
Then the output should be 12 24 35 88 120 155 
 
Explanation: Third, seventh and ninth element of the list L has been removed because it was already present. Input Format: In one line take the elements of the list L with each element separated by a space. Output Format: Print the elements of the modified list in one line with each element separated by a space. Example: Input: 12 24 35 24 Output: 12 24 35 

"""


a = int(input("Enter size of list: "))
print("Enter elements:")
l = [int(z) for y, z in enumerate(input().split()) if y < a and z.isdigit()]
print( "Input Values:",l)
temp = []
[temp.append(x) for x in l if x not in temp]
print("The list after removing duplicates",temp)

Enter size of list: 5
Enter elements:
2 5 2 4 5
Input Values: [2, 5, 2, 4, 5]
The list after removing duplicates [2, 5, 4]